.title .inner {
	position: relative;
	display: block;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	width: 100%;
	height: 100%;
	text-align: center;
}
.title header {
	display: none;
}
.title section {
	display: block;
	position: relative;
	top: auto;
	width: 100%;
	height: 100%;
	bottom: 3em;
}

.title h2:first-child {
	font-size: 4em;
	margin-bottom: 0.1em;
}
.title h2 {
	font-size: 2em;
}

.slide header:only-child h1 {
	padding-left: 2em;
	padding-right: 2em;

}

.slide section * {
	font-size: 150%;
}

.timeline section * {
	font-size: 120%;
}

.timeline table {
    border-collapse:collapse;
}
.timeline th  {
    background-color: #CCCCCC;
}

tr {
    background-color: #EEEEEE;
}

/*th {
    font-size: 50%;
}
td {
    font-size: 50%;
#}*/
